$mobile-xs: "screen and (max-width: 390px)"; // Pour tous les petits écrans
$mobile: "screen and (min-width: 390px) and (max-width: 769px)"; // Pour tous les écrans qui ne sont pas des tablettes / ordinateurs
$tablet: "screen and (min-width: 769px) and (max-width: 1024px)"; // Pour tous les écrans qui sont des tablettes
$desktop: "screen and (min-width: 1024px)"; // Pour tous les écrans qui ne sont pas des mobiles / tablettes

$mobile-xs-target: 389;
$mobile-target: 768;
$tablet-target: 1023;
$desktop-target: 1440;

$sizes: (
	1: (
		"media": $mobile-xs,
		"target": $mobile-xs-target,
	),
	2: (
		"media": $mobile,
		"target": $mobile-target,
	),
	3: (
		"media": $tablet,
		"target": $tablet-target,
	),
	4: (
		"media": $desktop,
		"target": $desktop-target,
	),
); // Utiliser pour calculer les fonts dans _settings-mixins.scss;

$desktop-down: "screen and (max-width: 1024px)"; // Pour tous les écrans qui ne sont pas des ordinateurs
