h1,
.h1 {
	@include font("title/h1");
}
h2,
.h2 {
	@include font("title/h2");
}
h3,
.h3 {
	@include font("title/h3");
}
h4,
.h4 {
	@include font("title/h4");
}
p,
.p {
	@include font("text/p");
}

select {
	color: currentColor; // Reset blue color from -apple-system-blue ios 15
}

@media (prefers-color-scheme: light) {
	:root {
		--text: #121313;
		--background: #f8f9fa;
		--primary: #678caf;
		--secondary: #a3c0dc;
		--accent: #69a2d7;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--text: #edeeee;
		--background: #040506;
		--primary: #4f7496;
		--secondary: #23415c;
		--accent: #286095;
	}
}

html {
	accent-color: var(--accent);
}

body {
	background-color: var(--background);
	color: var(--text);
}

input {
	background-color: var(--background);
	color: var(--text);
	border-color: currentColor;
}
button {
	background-color: var(--text);
	color: var(--background);
}
